{% extends 'base.html.twig' %}

{% block title 'Agence Lorem Ipsum'%}

{% block body %}
    <div class="jumboton text-center">
        <h1>Agence lorem ipsum</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor perferendis soluta ea vel dolore quasi laborum illo voluptatibus, odio assumenda</p>
</div>

<div class="container">
    <h2>Les derniers biens</h2>
    <div class="row flex">
    {% for property in properties %}
        <div class="col-3">
            {% include 'property/_property.html.twig' %}
        </div>
    {% endfor %}        
    </div>
</div>
{% endblock %}
