{% extends 'base.html.twig' %}

{% block title 'Editer les biens' %}

{% block body %}

<div class="container mt-4">
   <h1>Editer les options</h1>
   {{ include ("admin/option/_form.html.twig", { button: 'Editer'}) }}
</div>

{% endblock %}